<h1>Collections</h1>

<%= link_to "Past Works", past_path %>
<br>
<%= link_to "Present Works", present_path %>
<br>
<%= link_to "Future Works", future_path %>
<br />
<br>
<%= link_to 'New Collection', new_collection_path %>
<%= link_to 'New Work', new_work_path %>